.background{
    background-image:url('https://cff2.earth.com/uploads/2017/11/08174338/How-ice-forms-inside-of-clouds.jpg');
    margin-top: -21px;
    min-width: 100%;
    width: 100%;
    min-height: 1553%;
    height: 100%;
}

.title{
    color: white;
}